@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans:400,700|PT+Serif:400,700|Roboto:400,700');

body {
  background-color: #FBFBFB;
  max-height: 100vh;
  overflow: hidden;
  margin: 3vh 3vw 3vh 3vw;
}

h1 {
  font-family: 'Kaushan Script', cursive, serif;
  color: #4885ed;
}


.body {
  font-family: 'Open Sans', serif;
  font-size: 15px;
}


.main {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5vw;
  /* grid-template-rows: auto auto; */
} 

.credit {
  margin-top: 20px;
  text-align: center;
}

.katie {
  color: #4885ed;
  font-weight: 700;
}

a {
  text-decoration: none;
}