@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans:400,700|PT+Serif:400,700|Roboto:400,700');

@media screen and (max-width: 480px) {
    .mainForm {
        width: 100%;
        text-align: left;
        margin-right: 5vw !important;
    }
    
    div.section {
        padding-top: 2vh;
    }
    
    .textField {
        height: 20px;
        width: 50vw;
        font-family: 'Open Sans', serif;
        font-size: 15px;
      }
    
    .submit {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        padding: 1vh 1vw;
        margin-top: 2vh;
        background-color: #4885ed;
        color: white;
        margin-left: 40%;
    }
    
    label {
        font-weight: 700;
    }
}

@media screen and (min-width: 481px) {
    .mainForm {
        width: 100%;
        text-align: right;
        margin-right: 5vw !important;
    }
    
    div.section {
        padding-top: 2vh;
    }
    
    .textField {
        height: 20px;
        width: 30vw;
        font-family: 'Open Sans', serif;
        font-size: 15px;
      }
    
    .submit {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        padding: 1vh 1vw;
        margin-top: 2vh;
        background-color: #4885ed;
        border-radius: 10px;
        color: white;
    }
    
    label {
        font-weight: 700;
    }
}
